.content_contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text_contact{
    height: 40%;
    
}
.container_img_contact{
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.item_contact{
 
