.authen_template {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/705255/pexels-photo-705255.jpeg");
  background-size: cover;
  background-position-y: -160px;
  display: flex;
  align-items: center;
}

.authen_template__form {
  width: 20vw;
  height: 45vh;
  background-color: aliceblue;
  border-radius: 12px;
  padding: 20px;
  margin: 0 auto;
}
