.content_container{   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.image_market{
    border-radius: 26%;
    width: 50%;
    height: 30%;
    margin: 0 auto;
}

.container_button{
height: 10%;
display: flex;
justify-content: center;
align-items: center;
}
.button{
    width: 20%;
}
.container{
    height: 50%;
}
.image_container{
  
    display: flex;
    justify-content: space-between;
}
.head_title{
    height: 20%;
}
.image_container{
height: 80%;
display: flex;
justify-content: space-around;
}
.container_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(36, 32, 32, 0.12);
    cursor: pointer;
}
.item{
    width: 90%;
    height: 60%;
}
.text{
    height: 10%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.support{
    height: 10%;
    margin-left: auto;
    margin-right: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;

}
